# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
.Python
/build

# Translations
*.mo
*.pot

# Ruff stuff:
.ruff_cache/

# JetBrains
/.idea
/cmake-build-*

# eclipse
/.cproject
/.project

# Visual studio code
/*.code-workspace

# CMake user presets
/CMakeUserPresets.json

# AI Agents
/.codebuddy
